/*

Colours Used:

Off White = #F4F4F4
Light Grey = #E0E0E0
Soft Blue = #A0D2D0
Light Coral = #ECB390
Dark Coral = #DF7861
Soft Green = #D4E2D4
Black = #0C0C0B

Fonts Used:

h1 = Bebas Neue, Bold, 38pt
h2 = Bebas Neue, Bold, 26pt
body = Open Sans, 14pt

*/

* {
  box-sizing: border-box;
}

header {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 133px;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #0C0C0B;
  text-align: center;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  line-height: 1.4;
  font-size: 2.75em;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  line-height: 1.4;
  font-size: 2em;
}

img {
  width: 100%;
}

a {
  color: #DF7861;
  text-decoration: none;
}

a:visited {
  color: #DF7861;
}

a:hover,
a:focus {
  color: #A0D2D0;
  text-decoration: underline;
}

a:active {
  color: #A0D2D0;
}

.button {
  display: inline-block;
  background-color: #FFFFFF;
  color: #0C0C0B;
  border-radius: 1px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #0C0C0B;
  transition: background-color 0.6s ease-out;
  margin: 20px;
}

.button:visited {
  color: #0C0C0B;
}

.button:hover,
.button:focus {
  background-color: #A0D2D0;
  color: #0C0C0B;
  text-decoration: none;
}

.button:active {
  opacity: 0.7;
  color: #0C0C0B;
  text-decoration: none;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work {
  padding-top: 180px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4A4A4A;
}

#project {
  padding-top: 133px;
}

#hero {
  background-color: #FFFFFF;
  padding: 80px 0;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 80px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #DF7861;
}

nav > ul > li > a:visited {
  color: #DF7861;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  text-decoration: underline;
  color: #A0D2D0;
}

.social {
  padding: 0 10px 0 10px;
}

.copyright {
  font-size: 10px;
  color: #808080;
  padding: 10px;
}

#contact {
  background-color: #E0E0E0;
  padding: 5px 0 5px 0;
  margin-bottom: 0;
}

/* Medium devices (640px and larger) */

@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
  }

main {
  padding-top: 99px;
}

body {
  font-size: 18px;
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
}

#about h3 {
  margin-top: 0;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}
}

/* Large devices (1024px or larger) */

@media only screen and (min-width: 1024px) {

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

/* X-large devices (1440px or larger) */

@media only screen and (min-width: 1440px) {

}

@keyframes color-change {
  from {fill:#2b478b;}
  to {fill:#FF69B4;}

}

.sun {
  animation: 4s color-change infinite alternate linear;
}
