/*
Colours Used:

White = #ffffff
Sand = #ddddda
Navy = #205072
Stone Blue = #94b0b7
Almond = #c6a477
Stone = #c2c8c5
Black = #0C0C0B
Fonts = #000000

Fonts Used:

h1 = Montserrat
h2 = Montserrat
body = Open Sans

*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  color: #000;
  padding: 10px 0 4px;

  /* -webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.3); */
  position: fixed;
  width: 100%;
  text-align: left;
}

main {
  padding-top: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: transparent;
  color: #0c0c0b;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 2.75em;
  background-color: transparent;
  color: #0c0c0b;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 2em;
  background-color: transparent;
  color: #0c0c0b;
}

img {
  width: 80%;
}

a {
  background-color: transparent;
  color: #0c0c0b;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  color: #0c0c0b;
}

a:hover,
a:focus {
  background-color: transparent;
  color: #94b0b7;
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  color: #94b0b7;
}

a.logostyle {
  display: inline;
  text-align: left;
  background-color: transparent;
  color: #0c0c0b;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

a.logostyle:visited {
  text-align: left;
  background-color: transparent;
  color: #0c0c0b;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

a.logostyle:hover,
a.logostyle:focus {
  background-color: transparent;
  color: #94b0b7;
}

a.caselinks {
  text-align: right;
  color: #95703e;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 75%;
  text-decoration: none;
}

a.caselinks:hover,
a.caselinks:focus {
  background-color: transparent;
  color: #c2c8c5;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #0c0c0b;
  border-radius: 5px;
  padding: 2px 30px;
  border: 1px solid #0c0c0b;
  transition: background-color 0.6s ease-out;
  margin: 20px;
}

.button:visited {
  background-color: transparent;
  color: #0c0c0b;
}

.button:hover,
.button:focus {
  background-color: #0c0c0b;
  color: #fff;
  text-decoration: none;
}

.button:active {
  opacity: 0.7;
  background-color: transparent;
  color: #0c0c0b;
  text-decoration: none;
}

/* Layout Styling */
.container {
  padding: 25px 15px;
}

.row {
  margin: 25px 0;
}

#work {
  padding-top: 80px;
}

#work .row {
  padding-bottom: 25px;

  /* border-bottom: 1px solid #4a4a4a; */
}

#work .row:last-child {
  border-bottom: none;
}

#project {
  padding-top: 133px;
}

#project p {
  text-align: left;
}

#hero {
  background-color: transparent;
  color: #0c0c0b;
  padding: 80px 0 50px;
}

#hero h1 {
  display: block;
  text-align: left;
}

#hero h1 span {
  display: block;
  font-size: 0.5em;
  text-align: left;
}

#hero h2 {
  text-align: left;
}

#hero img {
  max-width: 400px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav > ul {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 400;
  background-color: transparent;
  color: #0c0c0b;
}

nav > ul > li > a:visited {
  background-color: transparent;
  color: #0c0c0b;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #94b0b7;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  text-align: right;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.social {
  padding: 0 10px;
}

.socialicons {
  display: inline-block;
  width: 18px;
  padding-top: 20px;
}

.copyright {
  font-size: 10px;
  background-color: transparent;
  color: #0c0c0b;
  padding: 10px;
}

#contact {
  background: rgb(148, 176, 183);
  background: linear-gradient(0deg, rgba(148, 176, 183, 1) 0%, rgba(221, 221, 218, 1) 100%);
  color: #0c0c0b;
  padding: 5px 0;
  margin-bottom: 0;
}

#contact h2 {
  text-align: center;
}

.left h2 {
  text-align: left;
}

.fadein img {
  opacity: 1;
  transition: 1s ease;
}

.fadein img:hover {
  opacity: 0.6;
  transition: 1s ease;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: left;
  }

  #about h3 {
    margin-top: 0;
  }

  #work {
    padding-top: 100px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

.socialicons {
  display: inline-block;
  width: 35px;
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* X-large devices (1440px or larger) */

/* @media only screen and (min-width: 1440px) {
} */

@keyframes color-change {
  from {
    fill: #2b478b;
  }

  to {
    fill: #9ec3f6;
  }
}

.profilepic {
  animation: 4s color-change infinite alternate linear;
}

@keyframes textmove {
  from {
    transform: translate(50px, 0);
  }

  to {
    transform: translate(50px, 100px);
  }
}

.textmove {
  animation: 1s textmove infinite alternate linear;
}
